extends ./layout/board.pug
block content
	.list-wrap
		table.table.table-bordered
			thead
				tr
					th 번호
					th 제목
					th 작성자
					th 작성일
					th 조회수
			tbody
				each list in lists
					tr
						td= list.id
						td
							- //if(list.realfile !== ""){
							- // 자바스크립트 영역은 맨 앞에 스코어를 붙여준다.
							- //}
							a(href=`/pug/view?id=${list.id}`)= list.title 
							if list.fileIcon
								i.fa.fa-file.ml-3
						td= list.writer
						td= list.wdate
						td= list.rnum
